<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Piccolo Theme</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="Cache-Control" content="no-cache, no-store, max-age=0, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="Fri, 01 Jan 1990 00:00:00 GMT"/>
<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
<link rel="stylesheet" href="css/prettyPhoto.css" />
<link rel="stylesheet" href="css/flexslider.css" />
<link rel="stylesheet" href="css/custom-styles.css">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
<![endif]--> 

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- JS
================================================== -->
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/jquery.custom.js"></script>
<script type="text/javascript">
$(document).ready(function () {

    $("#btn-blog-next").click(function () {
      $('#blogCarousel').carousel('next')
    });
     $("#btn-blog-prev").click(function () {
      $('#blogCarousel').carousel('prev')
    });

     $("#btn-client-next").click(function () {
      $('#clientCarousel').carousel('next')
    });
     $("#btn-client-prev").click(function () {
      $('#clientCarousel').carousel('prev')
    });
    
});

 $(window).load(function(){

    $('.flexslider').flexslider({
        animation: "slide",
        slideshow: true,
        start: function(slider){
          $('body').removeClass('loading');
        }
    });  
});

</script>

</head>

<body class="home">
    <!-- Color Bars (above header)-->
	<div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container main-container">


        <div class="row header" th:replace="header :: header"></div>

        <div class="row headline"><!-- Begin Headline -->

         	<!-- Slider Carousel
            ================================================== -->
            <div class="span8">
                <div class="flexslider">
                    <ul class="slides">
                        <li th:each="slider : ${sliders}"><a th:href="${slider.url}"><img th:src="${slider.src}" alt="slider" /></a></li>
                    </ul>
                </div>
            </div>

            <!-- Headline Text
            ================================================== -->
            <div class="span4">
            	<h3>Добро пожаловать <br />
                    Мамай - рай для фрирайда</h3>
                <p class="lead" th:text="${mamayWelcome}" />
                <a href="#"><i class="icon-plus-sign"></i>Читать дальше</a>
            </div>
        </div>

        <!-- End Headline -->
    
        <div class="row"><!-- Begin Bottom Section -->
        
        	<!-- Blog Preview
            ================================================== -->
        	<div class="span6">

                <h5 class="title-bg">Блог
                    <small>Горячие новости</small>
                    <button id="btn-blog-next" class="btn btn-inverse btn-mini" type="button">&raquo;</button>
                    <button id="btn-blog-prev" class="btn btn-inverse btn-mini" type="button">&laquo;</button>
                </h5>

                <div id="blogCarousel" class="carousel slide ">

                    <!-- Carousel items -->
                    <div class="carousel-inner">


                        <!--Blog Item 1-->
                        <div th:each="topBlog : ${topBlogs}" th:class="((${topBlogStat.first}) ? 'active item post-content' : 'post-content item')">
                            <a th:href="@{/blog(id=${topBlog.id})}"><img th:src="${topBlog.tumbs.content}" alt="" class="align-left blog-thumb-preview" /></a>
                            <div class="post-info clearfix">
                                <h4><a th:href="@{/blog(id=${topBlog.id})}" th:text="${topBlog.title}">A subject that is beautiful in itself</a></h4>
                                <ul class="blog-details-preview">
                                    <li>
                                        <i class='icon-calendar'></i>
                                        <strong>Дата:</strong>
                                        <span th:text="${topBlog.posted}"></span>
                                    <li>
                                    <li><i class="icon-user"></i><strong>Автор:</strong> <a href="#" title="Link" th:text="${topBlog.author.name}">Admin</a><li>
                                    <li><i class="icon-comment"></i><strong>Комментарии:</strong> <a href="#" title="Link" th:text="${topBlog.comments.size()}">12</a><li>
                                    <li>
                                        <i class="icon-tags"></i>
                                        <span th:each="tag : ${topBlog.tags}">
                                            <a href="#" th:text="${tag.tag}">photoshop</a>
                                            &nbsp
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <p class="blog-summary"><span th:text="${topBlog.annotation}"></span><a th:href="@{/blog(id=${topBlog.id})}">Дальше</a><p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Client Area
            ================================================== -->
            <div class="span6">

                <h5 class="title-bg">Мамай это...
                    <!--<small></small>-->
                    <button id="btn-client-next" class="btn btn-inverse btn-mini" type="button">&raquo;</button>
                    <button id="btn-client-prev" class="btn btn-inverse btn-mini" type="button">&laquo;</button>
                </h5>

                <!-- Client Testimonial Slider-->
                <div id="clientCarousel" class="carousel slide no-margin">
                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div th:each="review : ${userReviews}" class="active item" th:class="((${reviewStat.first}) ? 'active item' : 'item')">
                        <p class="quote-text">
                            <span  th:text="${review.reviewText}"></span>
                            <cite th:text="${review.user.name} +', ' + ${review.user.location}">- Роман Перминов, поселок Мамай</cite>
                        </p>
                    </div>

                </div>
                </div>

            </div>

            <!--блог 1-->

            <!-- Blog Posts
            ================================================== -->
            <div class="span8 blog">

                <!-- Blog Post 1 -->
                <article th:each="blog : ${blogs}">
                    <h3 class="title-bg"><a href="blog-single.htm" th:href="@{/blog(id=${blog.id})}" th:text="${blog.title}">Посление новости</a></h3>
                    <div class="post-summary">
                        <a href="blog-single.htm" th:href="@{/blog(id=${blog.id})}"><img src="img/gallery/post-img-1.jpg" th:src="${blog.postImg.content}" alt="Post Thumb"></a>
                        <p th:text="${blog.annotation}"></p>
                        <div class="post-summary-footer">
                            <a class="btn btn-small btn-inverse" type="button" th:href="@{/blog(id=${blog.id})}">Читать дальше</a>
                            <!--<button class="btn btn-small btn-inverse" type="button" th:url="">Читать дальше</button>-->
                            <ul class="post-data">
                                <li><i class="icon-calendar"></i> <span th:text="${blog.posted}">09/04/15</span></li>
                                <li><i class="icon-user"></i> <a href="#" th:text="${blog.author.name}">Admin</a></li>
                                <li><i class="icon-comment"></i> <a href="#" th:text="${blog.comments.size()}">5 Comments</a></li>

                                <li>
                                    <i class="icon-tags"></i>
                                    <span th:each="tag : ${blog.tags}">
                                            <a href="#" th:text="${tag.tag}">photoshop</a>
                                            &nbsp
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>

                <!-- Pagination -->
                <div th:if="${blogs.getTotalPages() > 0}" class="pagination">
                    <ul>
<!--todo надо учесть пред. и след. что бы были некативны ссылки, в зависимости от расположения страницы, так на первой странице пред должен быть без ссылки-->
                        <li class="active"><a href="#">Пред.</a></li>
                        <li th:each="blogPage, bpStat : ${blogPages}" th:class="((${blogPage.page == curPage}) ? 'active' : '')">
<!--todo надо ссылку сделать неактивной для текущей страницы-->
                            <a th:href="@{/(page=${blogPage.page})}" th:text="${blogPage.page} + 1"></a>
                        </li>;
                        <li><a href="#">След.</a></li>
                    </ul>
                </div>
            </div>

            <!-- Blog Sidebar
            ================================================== -->
            <div class="span4 sidebar" th:replace="sidebar :: sidebar"></div>

        </div><!-- End Bottom Section -->


    </div> <!-- End Container -->

    <!-- Footer Area
        ================================================== -->
    <div class="footer-container" th:replace="footer :: footer"></div>

    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
    
</body>
</html>
